<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <title>Pasific Site Template | Carousel One</title>        
        <meta charset="utf-8">
        <meta name="author" content="Harry Boo">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="description" content="Simple ideas for enhancing text input interactions" />
        <meta name="keywords" content="input, text, effect, focus, transition, interaction, inspiration, web design" />
        <!-- Load Core CSS 
        =====================================-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/core/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/core/animate.min.css') }}"/>
    
        <!-- Load Main CSS 
        =====================================-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main/main.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main/setting.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main/hover.css') }}"/>
        
        <!-- Load Magnific Popup CSS 
        =====================================-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific/magic.min.css') }}"/>        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific/magnific-popup.css') }}"/>              
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific/magnific-popup-zoom-gallery.css') }}"/>
        
        <!-- Load OWL Carousel CSS 
        =====================================-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel/owl.carousel.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel/owl.theme.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel/owl.transitions.css') }}"/>
         <!-- Css for hover gallery 
        =====================================-->
        <link type="text/css" rel="stylesheet"  href="{{ url_for('static', filename='css hower gallery/main.css') }}" />
        <link type="text/css" rel="stylesheet"  href="{{ url_for('static', filename='css hower gallery/sim-prev-anim.css') }}"/>
        <!-- Load Our Additional CSS 
         =====================================-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/color/pasific.css') }}"/>
        
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/icon/font-awesome.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/icon/et-line-font.css') }}"/>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='Our new css/css.css') }}"/>
        <!-- Load JS
        HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        WARNING: Respond.js doesn't work if you view the page via file://
        =====================================-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css_input/set2.css') }}"/> 
    </head>
    <body  id="page-top" data-spy="scroll" data-target=".navbar" data-offset="100">
        
        <!-- Page Loader
        ===================================== -->
    
        
        <!-- Navigation Area
        ===================================== -->        
       
        <div class="container navbar-container">
            <nav class="navbar navbar-pasific navbar-mp navbar-center navbar-sticky megamenu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand page-scroll" href="{{ url_for('home') }}">
                             <img alt="logo" class="flaticon" src="{{ url_for('static', filename='img/flat-icon/home.svg') }}"/>
                            Lviv-tour
                        </a>
                    </div>
                    <div class="navbar-collapse collapse navbar-main-collapse">
                        <ul class="nav navbar-nav">
                           

                            <li><a href="{{ url_for('regcar') }}">register</a></li>
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
                            <li><a href="{{ url_for('contact') }}">About us</a></li>
 
                        </ul>
                    </div>
            </nav>
        </div>
        
   
                    
                 
        
       
       
        
        
       
       <!-- General Content Area
        ===================================== -->
        <div id="general-content-2" class="bg-gray pt100 pb100">
                  <div class="container pt50 pb50 bb-dashed-1">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-pills nav-justified">
                          <li class="active"><a data-toggle="pill" href="#pilljustifiedHome">Orders</a></li>
                          <li><a data-toggle="pill" href="#pilljustified1">Cars</a></li>
                          <li><a data-toggle="pill" href="#pilljustified2">Drivers</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="pilljustifiedHome" class="tab-pane fade in active">

                                <table class="table table-striped new-one">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>car id</th>
                                            <th>user id</th>
                                            <th>driver id</th>
                                            <th>date</th>
                                            <th>destination</th>
                                            <th>price</th>
                                            <th>way long</th>
                                            <th>confirm</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        {% for row in rows %}
                                            <tr>
                                               <td>{{row["id"]}}</td>
                                               <td><form  clas="aa" action="accept" method="post"><input type="number" id={{row["id"]}} value={{row["car_id"]}} name="inp1"></input></td>
                                               <td>{{row["user_id"]}}</td>
                                               <td><input clas="aa" type="text" value={{row["driver_id"]}} name="inp"></input></td>
                                               <td><input clas="aa" type="text" value={{row["date"]}} name="inp2"></input></td>
                                               <td><input clas="aa" type="text" value={{row["destination"]}} name="inp3"></input></td>
                                               <td><input clas="aa" type="text" value={{row["price"]}} name="inp4"></input></td>
                                               <td><input clas="aa" type="text" value={{row["waylong"]}} name="inp5"></input></td>

                                               <td id="aa11">{{row["confirm"]}}</td>
                                                   <td><button id={{row["id"]}} name="but" value={{row["id"]}} class="button-3d button-xs button-square button-success"> </button></td>
                                               </form>
                                               <form action = "deny" method="post">
                                               <td><button id={{row["id"]}}  value={{row["id"]}} name="but1" class="button-3d button-xs button-square button-danger"> </button></td></form>
                                            </tr>
                                        {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div id="pilljustified1" class="tab-pane fade">
                                <table class="table table-striped new-one">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>conditions</th>
                                            <th>countries</th>
                                            <th>places</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        {% for row in rowss %}
                                            <tr>
                                               <td>{{row["id"]}}</td>
                                               <td>{{row["conditions"]}}</td>
                                               <td>{{row["rode"]}}</td>
                                               <td>{{row["places"]}}</td>
                                                <form action = "deny1" method="post">
                                               <td><button id={{row["id"]}}  value={{row["id"]}} name="but1" class="button-3d button-xs button-square button-danger"> </button></td></form>
                                            </tr>
                                        {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="pilljustified2" class="tab-pane fade">
                                 <table class="table table-striped new-one">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>name</th>
                                            <th>surname</th>
                                            <th>phone number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        {% for row in rowsss %}
                                            <tr>
                                               <td>{{row["id"]}}</td>
                                               <td>{{row["name"]}}</td>
                                               <td>{{row["surname"]}}</td>
                                               <td>{{row["number"]}}</td>
                                               <form action = "deny2" method="post">
                                               <td><button id={{row["id"]}}  value={{row["id"]}} name="but1" class="button-3d button-xs button-square button-danger"> </button></td></form>
                                            </tr>
                                        {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- section general info end -->
        
        
     
        
     
      
       
        
        
        <!-- footer Area
        ===================================== -->
        <div id="footer" class="footer-two pt50">
            
            
            <div class="container-fluid pt20">
                <div class="container">
                    <div class="row">
                        <!-- copyright start -->
                        <div class="col-md-6 col-sm-6 col-xs-6 pull-left">
                            <p>Copyright &copy;2016 <a href="#">Pasific Studio, LLC</a>. All rights reserved.</p>
                        </div>
                        <!-- copyright end -->
                        <!-- footer bottom start -->
                        <div class="col-md-6 col-sm-6 col-xs-6 pull-right">
                            <p class="text-right">
                                <a href="#" class="mr20">Privacy Policy</a>
                                <a href="#" class="mr20">Term of Use</a>
                                <a href="#" class="mr50">Site Map</a>
                            </p>
                        </div>
                        <!-- footer bottom end -->
                    </div><!-- row end -->
                </div><!-- container end -->
            </div><!-- container-fluid end -->
        </div><!-- footer end -->
        
        <script  src="{{ url_for('static', filename = 'js/js_inputs/classie.js') }}"></script>         
        <!-- JQuery Core
        =====================================-->
        <script  src="{{ url_for('static', filename = 'js/core/jquery.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/core/bootstrap.min.js') }}"></script>
        
        <!-- Magnific Popup
        =====================================-->
        <script  src="{{ url_for('static', filename = 'js/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/magnific-popup/magnific-popup-zoom-gallery.js') }}"></script>
        
        <!-- Progress Bars
        =====================================-->
        <script  src="{{ url_for('static', filename = 'js/progress-bar/bootstrap-progressbar.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/progress-bar/bootstrap-progressbar-main.js') }}"></script>
        
        <!-- JQuery Main
        =====================================-->
        
        <script  src="{{ url_for('static', filename = 'js/main/jquery.appear.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/isotope.pkgd.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/parallax.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/js/main/jquery.countTo.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/owl.carousel.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/ion.rangeSlider.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/jquery.sticky.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/imagesloaded.pkgd.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/main.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/js_inputs/new.js') }}"></script>
        
        
    </body>
</html>