<!DOCTYPE html>
<html lang="en">
    <head>
        <title>lviv trans tour</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="author" content="Harry Boo">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Simple ideas for enhancing text input interactions" />
        <meta name="keywords" content="input, text, effect, focus, transition, interaction, inspiration, web design" />
        <meta name="author" content="Codrops" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/core/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/core/animate.min.css') }}"/>

        <!-- Load Main CSS
        =====================================-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main/main.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main/setting.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main/hover.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fonts_input/font-awesome-4.2.0/css/font-awesome.min.css') }}"/>


         <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo/logo-top.ico') }}">




















        <!-- Load Magnific Popup CSS
        =====================================-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific/magic.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific/magnific-popup.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific/magnific-popup-zoom-gallery.css') }}"/>

        <!-- Load OWL Carousel CSS
        =====================================-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel/owl.carousel.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel/owl.theme.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel/owl.transitions.css') }}"/>

         <!-- Css for hover gallery
        =====================================-->
        <link type="text/css" rel="stylesheet"  href="{{ url_for('static', filename='css hower gallery/main.css') }}" />
        <link type="text/css" rel="stylesheet"  href="{{ url_for('static', filename='css hower gallery/sim-prev-anim.css') }}"/>

        <!-- Load Our Additional CSS
         =====================================-->



        <link rel="stylesheet" href="{{ url_for('static', filename='Our new css/css.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/color/pasific.css') }}"/>


        <link rel="stylesheet" href="{{ url_for('static', filename='css/icon/font-awesome.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/icon/et-line-font.css') }}"/>

        <!-- Load JS
        HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        WARNING: Respond.js doesn't work if you view the page via file://
        =====================================-->

        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }     </script>






















    </head>
    <body  id="page-top" data-spy="scroll" data-target=".navbar" data-offset="100">

           <!-- Page Loader
        ===================================== -->
        <div id="pageloader">
            <div class="loader-item">
                <img src="{{ url_for('static', filename='img/other/puff.svg') }}"       alt="page loader">
            </div>
        </div>

        <a href="#page-top" class="go-to-top">
            <i class="fa fa-long-arrow-up"></i>
        </a>


        <!-- Navigation Area
        ===================================== -->
        <div class="container navbar-container">
            <nav class="navbar navbar-pasific navbar-mp navbar-center navbar-sticky megamenu">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand page-scroll" href="{{ url_for('home') }}">
                             <img alt="logo" class="flaticon" src="{{ url_for('static', filename='img/flat-icon/home.svg') }}"/>
                            Головна
                        </a>
                    </div>

                    <div class="navbar-collapse collapse navbar-main-collapse">
                        <ul class="nav navbar-nav">


                            {% if session['username'] %}
                                {% if session['username'][1] == 0 %}
                                <li><a href="{{ url_for('list2') }}">Панель</a></li>
                                {% endif %}
                            <li><a href="{{ url_for('orders') }}">Млї замовлення</a></li>
                            <li><a href="{{ url_for('logout') }}">Вихід</a></li>
                            {% else %}
                            <li><a href="{{ url_for('login') }}">Вхід</a></li>
                            {% endif %}
                            <li><a href="{{ url_for('aboutus') }}">Контакти</a></li>



                        </ul>

                    </div>

            </nav>
        </div>













        <!-- Portfolio Area
        ===================================== -->
        <div id="portfolioGrid">
            <div class="pt50">&nbsp;</div>
            <div class="container-fluid bg-gray pt30">

                <div class="row">
                    <div class="col-md-12">

                        <!-- filters start -->

                        <!-- filters end -->

                        <div class="portfolio center-block">

                            <!-- portfolio item one start -->

                            {% for row in phot %}
                            <div class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-xs-12 joomla html">
                                <a href="{{ url_for('send_file', filename = row['photo'] ) }}" class="magnific-popup">
                                    <span class="glyphicon glyphicon-search hover-bounce-out"></span>
                                </a>
                                <img src="{{ url_for('send_file', filename = row['photo'] ) }}" alt="portfolio woocommerce" class="img-responsive">
                            </div>
                            {% endfor %}
                            <!-- portfolio item eight end -->

                        </div><!-- portfolio end -->

                    </div><!-- col-md-12 end -->
                </div><!-- row end -->
            </div><!-- container end -->
        </div><!-- section portfolio end -->




        <!-- Testimonial Area
        ===================================== -->






        </div><!-- section testimonial end -->


        <!-- Contact Us Area
        =====================================-->

            <div class="container">
                <div class="row pb50">

                    <div class="col-md-6">
                        <div class="row">
                            <div id="contact" class="pt50 pb50">




                            <!-- title end -->

                            <!-- contact info start -->




                               {% for row in rows%}
                            <div class="col-md-12 col-sm-12 col-xs-12">

                            <table class="table table-striped new-one sizez">
                                    <tbody>
                                        <tr>

                                            <tr>
                                                <th>кількість місьць</th>
                                                <td>{{row["places"]}}</td>


                                            </tr>
                                            <tr>
                                               <th>умови</th>
                                               <td>{{row["conditions"]}}</td>
                                            </tr>
                                            <tr>
                                               <th>шлях</th>
                                               <td>{{row["rode"]}}</td>
                                            </tr>


                                        </tr>
                                    </tbody>
                                </table>
                                                            </div>
                                                            </div>


            {% endfor %}

                            <!-- contact info end -->
                            <br>
                            <br>
                        </div><!-- row left end -->
                    </div><!-- col left end -->

                    <div class="col-md-6">
                    <div id="contact" class="pt50 pb50">
                        <div class="contact contact-us-one bg-gray">
                            <div class="col-sm-12 col-xs-12 text-center mb20 bg-gray">
                                 {% if session['username']%}
                                <h4 class="pb25 bb-solid-1 text-uppercase">
                                    Замовлення машини
                                    <small class="text-lowercase">Будь ласка заповніть форму і ми обов'язково звяжемося з вами.</small>
                                </h4>
                            </div>

                                <form action="form" method="post">

                                <div>
                                <label>Маршрут</label>
                                    <input type="text" name="destination"  class="input-md input-rounded form-control" placeholder="Маршрут" maxlength="100" required>
                                </div>

                                <div>
                                <label>Дата відправлення</label>
                                    <input type="date" name="date"  class="input-md input-rounded form-control"  maxlength="100" required>
                                </div>



                                <div>
                                <label>Дата поверняння</label>

                                    <input type="date" name="date2"  class="input-md input-rounded form-control"  maxlength="100" required>
                                </div>
                                <div>
                                <label>Кількість людей</label>

                                    <input type="integer" name="people"  class="input-md input-rounded form-control" placeholder="Кількість людей" maxlength="100">
                                </div>
                                <!-- website end -->
                                <div class="col-sm-12 mt10 text-center">

                                 {% for row in rows %}
                                    <button type="submit" name="sendMessage" value={{row["id"]}}>Відправити</button>
                                    {% endfor %}
                                </form>
                                {% else %}
                                <form action="login" method="post">
                                <div class="form-group reg">
                                    <h3>Будь ласка ввійдіть у особистий кабінет щоб зробити замовлення.</h3>
                                    <br>
                                    <button type="submit" class="button-o button-lg button-rounded button-danger hover-radial-out rebbb" >Вхід</button>
                                </div>
                                </form>
                                {% endif %}
                                </div>
                                <!-- button end -->



                        </div><!-- div contact end -->
                    </div><!-- col end -->

                </div><!-- row end -->
               </div>
        </div><!-- section contact end -->


        <!-- Clients Area
        ===================================== -->
        <div id="client" class="bg-gray pt50 pb20">
            <div class="container">
                <div class="row">



        <!-- footer Area
        ===================================== -->

        <div class="container-fluid pt20 bg-gray">
                <div class="container">
                    <div class="row">

                        <!-- copyright start -->
                        <div class="pull-left">

                            <br>
                            <h3 class="font-pacifico text-left">Ви також можете знайти нас тут: <a target="_blank" href="https://www.facebook.com/roman.kuch.1?fref=ts" ><i class="fa fa-facebook color-primary icofoot"></i></a> </h3>
                            <br>
                            <br>
                        </div>
                        <!-- copyright end -->

                        <!-- footer bottom start -->
                        <div class="pull-right">
                            <div class="pull-right">
                                <h3 class="font-pacifico text-left">Tel: +38-067-670-8177</h3>
                                <h3 class="font-pacifico text-left">Email: lviv.trans.tour@gmail.com</h3>
                                <br>
                                <br>
                            </div>
                        </div>
                        <!-- footer bottom end -->

                    </div><!-- row end -->
                </div><!-- container end -->
            </div><!-- container-fluid end -->


                <script  src="{{ url_for('static', filename = 'js/core/jquery.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/core/bootstrap.min.js') }}"></script>

        <!-- Magnific Popup
        =====================================-->

        <script  src="{{ url_for('static', filename = 'js/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/magnific-popup/magnific-popup-zoom-gallery.js') }}"></script>

        <!-- Progress Bars
        =====================================-->
        <script  src="{{ url_for('static', filename = 'js/progress-bar/bootstrap-progressbar.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/progress-bar/bootstrap-progressbar-main.js') }}"></script>

        <!-- JQuery Main
        =====================================-->
        <script  src="{{ url_for('static', filename = 'js/main/jquery.appear.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/isotope.pkgd.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/parallax.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/jquery.countTo.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/owl.carousel.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/ion.rangeSlider.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/jquery.sticky.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/imagesloaded.pkgd.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/js-hover-gallery/changing_pic.js') }}"></script>


        <script  src="{{ url_for('static', filename = 'js/main/main.js') }}"></script>

    </body>
</html>