<!DOCTYPE html>
<html lang="en">
    <head>
        <title>lviv trans tour</title>
        <meta name="description" content="">
        <meta name="keywords" content="Львів транс тур">
        <meta charset="utf-8">
        <meta name="author" content="Harry Boo">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Simple ideas for enhancing text input interactions" />
        <meta name="keywords" content="input, text, effect, focus, transition, interaction, inspiration, web design" />
        <meta name="author" content="Codrops" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/core/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/core/animate.min.css') }}"/>

        <!-- Load Main CSS
        =====================================-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main/main.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main/setting.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main/hover.css') }}"/>


        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo/logo-top.ico') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='Our new css/css.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/color/pasific.css') }}"/>


        <link rel="stylesheet" href="{{ url_for('static', filename='css/icon/font-awesome.css') }}"/>


    </head>
    <body  id="page-top" data-spy="scroll" data-target=".navbar" data-offset="100">

        <!-- Page Loader
        ===================================== -->
        <div id="pageloader">
            <div class="loader-item">
                <img alt="page loader" src="{{ url_for('static', filename='img/other/puff.svg') }}"/>
            </div>
        </div>

        <a href="#page-top" class="go-to-top">
            <i class="fa fa-long-arrow-up"></i>
        </a>


        <!-- Navigation Area
        ===================================== -->
        <div class="container navbar-container">
            <nav class="navbar navbar-pasific navbar-mp navbar-center navbar-sticky megamenu">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand page-scroll" href="#page-top">
                            <img alt="logo" class="flaticon" src="{{ url_for('static', filename='img/flat-icon/home.svg') }}"/>
                            Головна
                        </a>
                    </div>

                    <div class="navbar-collapse collapse navbar-main-collapse">
                        <ul class="nav navbar-nav">



                            {% if session['username'] %}
                                {% if session['username'][1] == 0 %}
                                <li><a href="{{ url_for('list2') }}">Панель</a></li>
                                {% endif %}
                            <li><a href="{{ url_for('orders') }}">Мої замовлення</a></li>
                            <li><a href="{{ url_for('logout') }}">Вихід</a></li>
                            {% else %}
                            <li><a href="{{ url_for('login') }}">Вхід</a></li>
                            {% endif %}
                            <li><a href="{{ url_for('aboutus') }}">Контакти</a></li>


                        </ul>

                    </div>

            </nav>
        </div>



































        <!-- Achievement Area
        ===================================== -->

            <div class="container fotimg">

                <!-- title and short description start -->
                <div class="row fotcov">
                    <div class="col-md-12 fotd">
                        <div class="fotdd">
                        <p class="font-pasific text-center loghh">

                            Львівська

                        </p>
                        <p class="font-pasific text-center logh">

                            транспортно-туристична компанія

                        </p>



                        </div>

                        </div>

                </div>


            </div><!-- container end -->



        <!-- Info Area



        <!-- General Content Area
        ===================================== -->

{% for row in rowss%}


<div id="general-content-1" class="pt100 pb100">
<div class="raw">
<div class="container">


                    <div class="col-md-6">

                    <img src="{{ url_for('send_file', filename = row['photo'] ) }}" class="img-responsive center-block indeximg">

                    </div>
                    <!-- left content end -->

                    <!-- right content start -->
                    <div class="col-md-5 col-md-push-1">

                            <div class="reg">
                            <h1 class="text-capitalize color-red">
                                Інформація
                            </h1>

                                <br>

                                <table class="table table-striped new-one sizee">
                                    <tbody>
                                        <tr>

                                            <tr>
                                                <th>Кількість місьць</th>
                                                <td>{{row["places"]}}</td>


                                            </tr>
                                            <tr>
                                               <th>к\Комплектація</th>
                                               <td>{{row["conditions"]}}</td>
                                            </tr>
                                            <tr>
                                               <th>Поїздки</th>
                                               <td>{{row["rode"]}}</td>
                                            </tr>


                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                               <div class="reg">
                                <form action="list" method="post">
                                    <p><button name='bus' class="button-o button-lg button-rounded button-danger hover-radial-out" id={{row['id']}} value={{row['id']}}>Детальніше</button>

                                 </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- right content end -->




        </div>
        </div>
            {% endfor %}



        <!-- General Content Area
        ===================================== -->








        <!-- footer Area
        ===================================== -->
         <div class="container-fluid pt20 bg-gray">
                <div class="container">
                    <div class="row">

                        <!-- copyright start -->
                        <div class="pull-left">

                            <br>
                            <h3 class="text-left">Ви також можете знайти нас тут: <a target="_blank" href="https://www.facebook.com/roman.kuch.1?fref=ts" ><i class="fa fa-facebook color-primary icofoot"></i></a> </h3>
                            <br>
                            <br>
                        </div>
                        <!-- copyright end -->

                        <!-- footer bottom start -->
                        <div class="pull-right">
                            <div class="pull-right">
                                <h3 class="font-pacifico text-left">Tel: +38-067-670-8177</h3>
                                <h3 class="font-pacifico text-left">Email: lviv.trans.tour@gmail.com</h3>
                                <br>
                                <br>
                            </div>
                        </div>
                        <!-- footer bottom end -->

                    </div><!-- row end -->
                </div><!-- container end -->
            </div><!-- container-fluid end -->


        <!-- JQuery Core
        =====================================-->
        <script  src="{{ url_for('static', filename = 'js/core/jquery.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/core/bootstrap.min.js') }}"></script>


        <!-- JQuery Main
        =====================================-->
        <script  src="{{ url_for('static', filename = 'js/main/jquery.appear.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/isotope.pkgd.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/parallax.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/owl.carousel.min.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/jquery.sticky.js') }}"></script>
        <script  src="{{ url_for('static', filename = 'js/main/imagesloaded.pkgd.min.js') }}"></script>



        <script  src="{{ url_for('static', filename = 'js/main/main.js') }}"></script>

    </body>
</html>